<div class="h-full w-full flex flex-col">
    <app-header></app-header>

    <div class="h-full my-4 py-20 px-10 flex flex-col items-center gap-24">

        <h1 class="text-4xl text-orange-500 font-semibold">MENU PRINCIPAL</h1>
    
        <!-- Contenedor opciones Menu -->
        <div class="w-full h-1/2 flex items-center justify-center gap-10">
            <button class="w-1/4 h-full text-3xl text-orange-500 font-semibold border-2 border-orange-500 rounded-3xl hover:bg-orange-500 hover:text-white transition-all active:animate-shrink" routerLink="/pedidos">
                Tomar pedidos
            </button>

            <button class="w-1/4 h-full text-3xl text-orange-500 font-semibold border-2 border-orange-500 rounded-3xl hover:bg-orange-500 hover:text-white transition-all active:animate-shrink" *ngIf="isAdmin">
                Reporte de Ventas
            </button>

            <button class="w-1/4 h-full text-3xl text-orange-500 font-semibold border-2 border-orange-500 rounded-3xl hover:bg-orange-500 hover:text-white transition-all active:animate-shrink" *ngIf="isAdmin">
                Administrar Productos
            </button>

            <button class="w-1/4 h-full text-3xl text-orange-500 font-semibold border-2 border-orange-500 rounded-3xl hover:bg-orange-500 hover:text-white transition-all active:animate-shrink" *ngIf="isAdmin" routerLink="/usuarios">
                Administrar Usuarios
            </button>
        </div>
    </div>
</div>